# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Tailwind CSS build output
src/output.css

# Editor & System files
.vscode/
.DS_Store
Thumbs.db

# Build folders
dist/
build/
